@import './include.scss';


@font-face {
    font-family: RockSalt;
    src: url('./../../assets/fonts/RockSalt-Regular.ttf');
}

@font-face {
    font-family: fortAnteena_medium;
    src: url('./../../assets/fonts/external/ford-antenna-medium-cnd-587bd97171cbd.otf');
}



header{
    background-color: white;
    position: fixed;
    z-index: 2;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 20px -5px, rgba(0, 0, 0, 0.3) 0px 8px 10px -8px; 
    font-size: 100%;
    padding-top: 0.5%;
    padding-bottom: -5%;
    height: 70px;
    #logo-image{
        margin-top: 4%;
        width: 45%;
        height: 45%;
    }
    #header-title{
        margin-top: 1.2%;
        margin-left: -7%;
        font-family: RockSalt;
        font-size: 120%;
        font-weight: bold;
        color: black;
    }
    #logo-image, #header-title{
        &:hover{
            cursor: pointer;
        }
    }
    .navigation-link{
        @extend .pointed-cursor;
        font-family: fortAnteena_medium;
        letter-spacing: 1.5px;
        margin-top: 0.2%;
        font-size: 80%;
        .navigation-link-image{
            width: 40%;
        }
        #cart-items-count-indicator{
            background-color: black;
            color: white;
            padding: 5px;
            font-size: 120%;
            border-radius: 10px;
        }
    }
   
}

.outlined-red-btn-inverted{
    @extend .outlined-red-btn;
    background-color: $logoBackground;
    color: white;
    &:hover{
        background-color: black;
    }
}


footer{
    background-color: black;
    color: white;
    z-index: 3;

    #footerBox{
        padding: 5%;
        #footer-headText{
            font-family: Rocksalt;
        }
        .footer-sectionHeader{
            letter-spacing: 1.5px;
            font-size: 110%;
        }
        .footer-link{
            margin-top: 5%;
        }

        #footer-credits{
            color: rgba(106, 104, 104, 0.6);
        }
    }
}








